/* YAO */

.navbar-nav .nav-link {
  color: #E6E8E6;
}

.navbar-brand {
  color: #E6E8E6;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #E6E8E6;
  color: #505D7B;
    
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  height: 100%;
  display: flex;
  color: #505D7B;
}

/* NARDO */
.WNcard {
  height: 100%;
  color: #505D7B;
  background-color: #FFFFFF;
  text-align: center;
  justify-content: center;
}
  

/*CAÑETE*/
.footer {
  background-color: #505D7B;
  color: #7186AB;
  text-align: center;
  padding: 1rem 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
