/* STYLES // YAO  */
.navbar-nav .nav-link {
  color: #E6E8E6;
}

.navbar-brand {
  color: #E6E8E6;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #E6E8E6;
  color: #505D7B;
    
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  height: 100%;
  display: flex;
  color: #505D7B;
}

footer {
    margin: 0px;
    padding: 0px;
    color: #28242D;
    text-align: center;
}
